#Caddyfile for webservices

jira.swarmus.jajservers.duckdns.org {
#Jira
    proxy / http://jira:8080  {
        timeout 86400s
        transparent
        websocket
    }
}

confluence.swarmus.jajservers.duckdns.org {
#Confluence
    proxy / http://confluence:8090  {
        timeout 86400s
        transparent
        websocket
    }
}
